.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureIcon {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.packages {
  background-color: var(--ifm-background-surface-color);
}